:root {
    /*COLORS*/
    --color-white: #ffffff;
    --color-black: #000000;
    --color-primary: blue;
    --color-secondary: gray;
    --color-success: green;
    --color-warning: orange;
    --color-error: red;
    --color-gradient: blue;
}